
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border-radius: 70px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    cursor: pointer;
}
.nav-list{
   
    /* background-color:black ; */
    width: 200%;
    
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.nav-list li {
   list-style:none ;
    padding : 20px 26px ;
}
.nav-list li a {
    text-decoration:none; 
    color:rgba(102, 124, 7, 0.901);
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav-list li a:hover{
         color:white;
}
.rightnav {
    width: 50%;
    /* background-color: blue; */
    text-align: right;
    
    
}
#search{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;
    
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    /* background-color: #cccccc; */

    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}
.firsthalf{
    width: 81%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
}
.secondhalf img
{
    border-radius: 60px;
    width: 150%;
    display: block;
    margin: auto;
}
.text-big {
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: white;
}
.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding: 5%; */
}
.section-left{
    flex-direction: row-reverse;
    
}
.sectiontag{
    padding: 6px;
}
.sectionsubtag{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}
.thumbnail img{
    width: 400px;
    justify-content: space-evenly;
    width:auto;
    max-width: 500px;
    margin: 20px;
    border: 4px solid black;
     border-radius:30px;
     
     ;
}
.paras{

}